<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.517.0.min.js"></script>
	<script> 
		//const sheets = "/sheets/179b05c0-2279-4a0f-8136-25d724d904e3_d01af2c5-e31e-44a0-b0d3-ec48aed586ef?";
		const sheets = "?";
apiGatewayGetDashboardEmbedUrl(); 

function onVisualLoaded() {
	    var div = document.getElementById("loadedContainer");
	    div.innerHTML = "Dashboard fully loaded";
}

function onError() {
	    var div = document.getElementById("errorContainer");
	    div.innerHTML = "your seesion has expired";
}

function embedDashboard(embedUrl) {
	    console.log("embedUrl:" + embedUrl);

	    var tmpEmbedUrl = embedUrl.split('?')[0];
	    var sheetEmbedUrl = tmpEmbedUrl + sheets + embedUrl.split('?')[1]

	    var containerDiv = document.getElementById("dashboardContainer");

	    var params = {
		                url: sheetEmbedUrl,
		                container: containerDiv,
		                height: "100%"
		            };
	        var dashboard = QuickSightEmbedding.embedDashboard(params);
	        dashboard.on('error', onError);
	        dashboard.on('load', onVisualLoaded);
}

    function apiGatewayGetDashboardEmbedUrl() {

	        const headers = { 
			        'Content-Type' : 'application/json' ,
			        'Access-Control-Allow-Origin': '*'
			    }
	        const apiGatewayUrl = '../packusQuickSightEmbedAPI/getdashboardembedurl?';
	        axios.post(apiGatewayUrl, {
			        "dashboardId": 'a0e0a42d-5122-4930-87c7-eb5a05fdf712',
			        "userArn": "arn:aws:quicksight:ap-northeast-2:780124858304:user/default/QuickSightEmbedRole/quicksightembed@nice.co.kr",
			        "resetDisabled": "false",
			        "undoRedoDisabled": "false"
			    }, {
                    headers :headers
                })
	        .then(function (response) {
			        
			        console.log(response);
			        if (response.status == 200 && response.data.statusCode == 200) {
					            const body = JSON.parse(response.data.body);

					            console.log(body);
					            embedDashboard(body.EmbedUrl);
					        } else {
							            console.log("error");
							        }            
			    })
	        .catch(function (error) {
			        console.log(error);
			    });

    }

    </Script> 

    <div id="dashboardContainer" style="height: 100%"></div> 
