
{% block mainpanel %}
<!-- 대시보드 화면-->
  <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" id="pills-model" role="tabpanel" aria-labeleledby="pills-model">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <h5 class="p-0 m-0 navbar-brand">패커스 RFM 모델&nbsp;
              <small class="text-muted">분석 데이터: 2017년 ~ 2020년 10월</small>
            </h5>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header border-bottom py-2 countCardHeader">
                    <p class="m-0" style="font-size: 16px;">전체 회원 수</p>
                  </div>
                  <div class="card-body p-0 m-0 countCardBody">
                    <iframe src="https://52.78.186.240/s/packus/app/kibana#/dashboard/8d795b40-d852-11ea-83ec-578bbedbe7b6?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-5y%2Fy%2Cto%3Anow))" height="100%" width="100%" frameborder="0" style="border-radius: .8rem;"></iframe>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header border-bottom py-2 countCardHeader">
                    <p class="m-0" style="font-size: 16px;">최근 구매 일(Median)</p>
                  </div>
                  <div class="card-body p-0 m-0 countCardBody">
                    <iframe src="https://52.78.186.240/s/packus/app/kibana#/dashboard/b1dfbf10-d852-11ea-83ec-578bbedbe7b6?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-5y%2Fy%2Cto%3Anow))" height="100%" width="100%" frameborder="0" style="border-radius: .8rem;"></iframe>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header border-bottom py-2 countCardHeader">
                    <p class="m-0" style="font-size: 16px;">총 구매 횟수(Median)</p>
                  </div>
                  <div class="card-body p-0 m-0 countCardBody">
                    <iframe src="https://52.78.186.240/s/packus/app/kibana#/dashboard/c1207870-d852-11ea-83ec-578bbedbe7b6?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-5y%2Fy%2Cto%3Anow))" height="100%" width="100%" frameborder="0" style="border-radius: .8rem;"></iframe>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">       
                <div class="card card-stats">
                  <div class="card-header border-bottom py-2 countCardHeader">
                    <p class="m-0" style="font-size: 16px;">총 지출액(Median)</p>
                  </div>
                  <div class="card-body p-0 m-0 countCardBody">
                    <iframe src="https://52.78.186.240/s/packus/app/kibana#/dashboard/f4312200-d852-11ea-83ec-578bbedbe7b6?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-5y%2Fy%2Cto%3Anow))" height="100%" width="100%" frameborder="0" style="border-radius: .8rem;"></iframe>
                  </div>
                </div>
              </div>
          </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <iframe frameborder="0" src="https://52.78.186.240/s/packus/app/kibana#/dashboard/5d9994a0-d2d3-11ea-83ec-578bbedbe7b6?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-5y%2Fy,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!t,title:'%5B%ED%8C%A8%EC%BB%A4%EC%8A%A4%20RFM%20%EB%AA%A8%EB%8D%B8%5D',viewMode:view)" height="2990" width="100%" style="border-radius: .8rem;"></iframe>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
