
{% block mainpanel %}
<!-- 대시보드 화면-->
  <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" id="pills-dashboard" role="tabpanel" aria-labeleledby="pills-dashboard">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">패커스 전체회원</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row" id="memberCount">
          <div class="col-lg-7 col-md-6 col-sm-6">
            <div class="card card-stats">
                <iframe frameborder="0" src="http://52.78.186.240:8011/s/packus/app/kibana#/dashboard/ade1e940-d5fc-11ea-83ec-578bbedbe7b6?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-5y%2Fy,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(),gridData:(h:15,i:'063e9593-75ab-4bba-9ce1-6e888bd97113',w:24,x:0,y:0),id:'13f379a0-d568-11ea-83ec-578bbedbe7b6',panelIndex:'063e9593-75ab-4bba-9ce1-6e888bd97113',type:visualization,version:'7.8.0'),(embeddableConfig:(),gridData:(h:15,i:'59ceba00-d4e1-4eb7-9f5e-fd01b84eef0d',w:24,x:24,y:0),id:'67825050-d568-11ea-83ec-578bbedbe7b6',panelIndex:'59ceba00-d4e1-4eb7-9f5e-fd01b84eef0d',type:visualization,version:'7.8.0')),query:(language:kuery,query:''),timeRestore:!f,title:'%5B%EC%A0%84%EC%B2%B4%ED%9A%8C%EC%9B%90%5D%ED%9A%8C%EC%9B%90%20%EC%88%98',viewMode:edit)" height="300" width="100%" style="border-radius: .8rem;"></iframe>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
                <iframe frameborder="0" src="http://52.78.186.240:8011/s/packus/app/kibana#/dashboard/5287f1e0-d2c6-11ea-83ec-578bbedbe7b6?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-5y%2Fy,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!t,title:'%5B%ED%8C%A8%EC%BB%A4%EC%8A%A4%20%EC%A0%84%EC%B2%B4%ED%9A%8C%EC%9B%90%5D',viewMode:view)" height="900" width="100%" style="border-radius: .8rem;"></iframe>
            </div>
        </div>
      </div>
{% endblock %}