{% extends "base.html" %}

{% block content %}
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="/dashboard" class="simple-text logo-normal">
          Packus Dashboard
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
            <li
              {% if menu == 'dashboard' %}
                class="active"
              {% endif %}
            >
            <a href="/dashboard" id="pills-dashboard">
              <i class="nc-icon nc-layout-11"></i>
              <p>전체 회원</p>
            </a>
          </li>
          <li
              {% if menu == 'model' %}
                class="active"
              {% endif %}
            >
            <a href="/rfm/model" id="pills-rfm">
              <i class="nc-icon nc-chart-pie-36"></i>
              <p>패커스 RFM 모델</p>
            </a>
            <ul class="sub-menu mt-0">
              <li class="sub-sidebar-brand"
                  {% if menu == 'model' %}
                      class="active"
                    {% endif %}
                  >
                  <a href="/rfm/model" class="p-0 mt-0">―   RFM 모델<span class="sub_icon fa fa-hdd-o"></span></a>
                </li>
            </ul>
            <ul class="sub-menu mt-0">
              <li class="sub-sidebar-brand"
                  {% if menu == 'cluster' %}
                      class="active"
                    {% endif %}
                  >
                  <a href="/rfm/cluster" class="p-0 mt-0" id="cluster-report">―   클러스터<span class="sub_icon fa fa-hdd-o"></span></a>
                </li>
            </ul>
          </li>
          <li
              {% if menu == 'segments' %}
                class="active"
              {% endif %}
            >
            <a href="/segments/segments" id="pills-segments">
              <i class="nc-icon nc-bulb-63"></i>
              <p>세그먼트</p>
            </a>
            <ul class="sub-menu mt-0">
                <li class="sub-sidebar-brand"
                    {% if menu == 'segments' %}
                        class="active"
                      {% endif %}
                    >
                    <a href="/segments/segments" class="p-0 mt-0">―   세그먼트 생성<span class="sub_icon fa fa-hdd-o"></span></a>
                </li>
            </ul>
            <ul class="sub-menu mt-2">
                <li class="sub-sidebar-brand"
                    {% if menu == 'seg_reports' %}
                        class="active"
                      {% endif %}
                    >
                    <a href="/segments/seg_reports" class="p-0 mt-0">―   세그먼트<span class="sub_icon fa fa-hdd-o"></span></a>
                </li>
            </ul>
          </li>
          <li
              {% if menu == 'event' %}
                class="active"
              {% endif %}
            >
            <a href="/event/total" id="pills-segments">
              <i class="nc-icon nc-spaceship"></i>
              <p>Event</p>
            </a>
            <ul class="sub-menu mt-0">
              <li class="sub-sidebar-brand"
                  {% if menu == 'total' %}
                      class="active"
                    {% endif %}
                  >
                  <a href="/event/total" class="p-0 mt-0">―   Total<span class="sub_icon fa fa-hdd-o"></span></a>
              </li>
              <li class="sub-sidebar-brand"
                  {% if menu == 'upjong' %}
                      class="active"
                    {% endif %}
                  >
                  <a href="/event/upjong" class="p-0 mt-0">―   업종별<span class="sub_icon fa fa-hdd-o"></span></a>
              </li>
              <li class="sub-sidebar-brand"
                  {% if menu == 'area' %}
                      class="active"
                    {% endif %}
                  >
                  <a href="/event/area" class="p-0 mt-0">―   지역별<span class="sub_icon fa fa-hdd-o"></span></a>
              </li>
              <li class="sub-sidebar-brand"
                {% if menu == 'catalog' %}
                    class="active"
                  {% endif %}
                >
                <a href="/event/ad/catalog" class="p-0 mt-0">―   광고 Event<span class="sub_icon fa fa-hdd-o"></span></a>
                <ul class="sub-menu mt-0">
                  <li class="sub-sidebar-brand"
                      {% if menu == 'catalog' %}
                          class="active"
                        {% endif %}
                      >
                      <a href="/event/ad/catalog" class="p-0 mt-0">―   카달로그<span class="sub_icon fa fa-hdd-o"></span></a>
                  </li>
                  <li class="sub-sidebar-brand"
                      {% if menu == 'sample' %}
                          class="active"
                        {% endif %}
                      >
                      <a href="/event/ad/sample" class="p-0 mt-0">―   샘플신청<span class="sub_icon fa fa-hdd-o"></span></a>
                  </li>
                  <li class="sub-sidebar-brand"
                      {% if menu == 'order' %}
                          class="active"
                        {% endif %}
                      >
                      <a href="/event/ad/order" class="p-0 mt-0">―   소량주문<span class="sub_icon fa fa-hdd-o"></span></a>
                  </li>
                </ul>
              </li>
              <li class="sub-sidebar-brand"
                  {% if menu == 'shop' %}
                      class="active"
                    {% endif %}
                  >
                  <a href="/event/shop" class="p-0" style="margin-top: 60px;">―   언택트 장보기<span class="sub_icon fa fa-hdd-o"></span></a>
              </li>
            </ul>
          </ul>
            <!-- <ul class="sub-menu" style="margin-top: 100px;">
                <li class="sub-sidebar-brand"
                    {% if menu == 'goal' %}
                        class="active"
                      {% endif %}
                    >
                    <a href="/event/goal" class="p-0 mt-0">―   목표달성<span class="sub_icon fa fa-hdd-o"></span></a>
                </li>
            </ul> -->
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel h-100">
      {% if menu == 'segments' %}
        {% include "segments/segments.html" %}
      {% elif menu == 'seg_reports' %}
        {% include "segments/seg_reports.html" %}
      {% elif menu == 'dashboard' %}
        {% include "dashboard.html" %}
      {% elif menu == 'model' %}
        {% include "rfm/model.html" %}
      {% elif menu == 'cluster' %}
        {% include "rfm/cluster.html" %}
      {% elif menu == 'total' %}
        {% include "event/total.html" %}
      {% elif menu == 'upjong' %}
        {% include "event/upjong.html" %}
      {% elif menu == 'area' %}
        {% include "event/area.html" %}     
      <!-- {% elif menu == 'goal' %}
        {% include "event/goal.html" %} -->
      {% elif menu == 'catalog' %}
        {% include "event/ad/catalog.html" %}
      {% elif menu == 'sample' %}
        {% include "event/ad/sample.html" %}
      {% elif menu == 'order' %}
        {% include "event/ad/order.html" %}
      {% elif menu == 'shop' %}
        {% include "event/shop.html" %}
      {% endif %}
    </div>

{% endblock %}

<!--html 파일마다 개별적으로 js 파일을 가져와야 할 때 사용-->
<!--{% block article_script %}-->
<!--가져오는 자바스크립트 주소-->
<!--<script type="module" src="{{ url_for('static', filename='dist/base.js') }}"></script>-->
<!--{% endblock %}-->