{% extends "base.html" %}

{% block content %}
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="/dashboard" class="simple-text logo-normal">
          Packus Dashboard
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">

            <li
              {% if menu == 'dashboard' %}
                class="active"
              {% endif %}
            >
            <a href="/dashboard" id="pills-dashboard">
              <i class="nc-icon nc-bank"></i>
              <p>대시보드</p>
            </a>
          </li>
           <li
              {% if menu == 'segments' %}
                class="active"
              {% endif %}
            >
            <a href="/segments" id="pills-segments">
              <i class="nc-icon nc-diamond"></i>
              <p>세그먼트</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
      {% if menu == 'segments' %}
        {% include "segments.html" %}
      {% elif menu == 'dashboard' %}
        {% include "dashboard.html" %}
      {% endif %}
    </div>

{% endblock %}

<!--html 파일마다 개별적으로 js 파일을 가져와야 할 때 사용-->
<!--{% block article_script %}-->
<!--가져오는 자바스크립트 주소-->
<!--<script type="module" src="{{ url_for('static', filename='dist/base.js') }}"></script>-->
<!--{% endblock %}-->