{% extends "base.html" %}

{% block content %}
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="/dashboard" class="simple-text logo-normal">
          Packus Dashboard
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
            <li
              {% if menu == 'dashboard' %}
                class="active"
              {% endif %}
            >
            <a href="/dashboard" id="pills-dashboard">
              <i class="nc-icon nc-tile-56"></i>
              <p>전체 회원</p>
            </a>
          </li>
          <li
              {% if menu == 'model' %}
                class="active"
              {% endif %}
            >
            <a href="/model" id="pills-rfm">
              <i class="nc-icon nc-bank"></i>
              <p>RFM 모델</p>
            </a>
          </li>
          <li
              {% if menu == 'segments' %}
                class="active"
              {% endif %}
            >
            <a href="/segments/segments" id="pills-segments">
              <i class="nc-icon nc-diamond"></i>
              <p>세그먼트</p>
            </a>
            <ul class="sub-menu mt-0">
                <li class="sub-sidebar-brand"
                    {% if menu == 'segments' %}
                        class="active"
                      {% endif %}
                    >
                    <a href="/segments/segments" class="p-0 mt-0">―   세그먼트 생성<span class="sub_icon fa fa-hdd-o"></span></a>
                </li>
            </ul>
            <ul class="sub-menu mt-2">
                <li class="sub-sidebar-brand"
                    {% if menu == 'seg_reports' %}
                        class="active"
                      {% endif %}
                    >
                    <a href="/segments/seg_reports" class="p-0 mt-0">―   세그먼트 보고서<span class="sub_icon fa fa-hdd-o"></span></a>
                </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">
      {% if menu == 'segments' %}
        {% include "segments/segments.html" %}
      {% elif menu == 'seg_reports' %}
        {% include "segments/seg_reports.html" %}
      {% elif menu == 'dashboard' %}
        {% include "dashboard.html" %}
      {% elif menu == 'model' %}
        {% include "model.html" %}
      {% endif %}
    </div>

{% endblock %}

<!--html 파일마다 개별적으로 js 파일을 가져와야 할 때 사용-->
<!--{% block article_script %}-->
<!--가져오는 자바스크립트 주소-->
<!--<script type="module" src="{{ url_for('static', filename='dist/base.js') }}"></script>-->
<!--{% endblock %}-->