
{% block mainpanel %}
<!-- 대시보드 화면-->
  <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" id="pills-model" role="tabpanel" aria-labeleledby="pills-model">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">패커스 RFM 모델</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body p-0 m-0" style="height: 300px;">
                        <iframe src="http://52.78.186.240:8011/s/packus/app/kibana#/visualize/edit/0ad1eb60-d3cc-11ea-83ec-578bbedbe7b6?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-5y%2Fy,to:now))&_a=(filters:!(),linked:!f,query:(language:kuery,query:''),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(customLabel:'(%EB%AA%85)',field:n_memno,json:'%7B%22precision_threshold%22:%2040000%7D'),schema:metric,type:cardinality)),params:(addLegend:!f,addTooltip:!t,metric:(colorSchema:'Green%20to%20Red',colorsRange:!((from:0,to:10000)),invertColors:!f,labels:(show:!t),metricColorMode:None,percentageMode:!f,style:(bgColor:!f,bgFill:%23000,fontSize:32,labelColor:!f,subText:''),useRanges:!f),type:metric),title:'%5BRFM%5D%20%EA%B3%A0%EA%B0%9D%EA%B5%B0%20-%20%ED%9A%8C%EC%9B%90%EC%88%98',type:metric))" height="100%" width="100%" frameborder="0" style="border-radius: .8rem;"></iframe>
                    </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body p-0 m-0" style="height: 300px;">
                        <iframe src="http://52.78.186.240:8011/s/packus/app/kibana#/visualize/edit/355edd20-d3cc-11ea-83ec-578bbedbe7b6?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-5y%2Fy,to:now))&_a=(filters:!(),linked:!f,query:(language:kuery,query:''),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(customLabel:'(avg.%201%EC%9D%B8%2F%EC%9D%BC)',field:recency),schema:metric,type:avg)),params:(addLegend:!f,addTooltip:!t,metric:(colorSchema:'Green%20to%20Red',colorsRange:!((from:0,to:10000)),invertColors:!f,labels:(show:!t),metricColorMode:None,percentageMode:!f,style:(bgColor:!f,bgFill:%23000,fontSize:32,labelColor:!f,subText:''),useRanges:!f),type:metric),title:'%5BRFM%5D%20%EA%B3%A0%EA%B0%9D%EA%B5%B0%20-%20Recency',type:metric))" height="100%" width="100%" frameborder="0" style="border-radius: .8rem;"></iframe>
                    </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body p-0 m-0" style="height: 300px;">
                        <iframe src="http://52.78.186.240:8011/s/packus/app/kibana#/visualize/edit/47ececc0-d3cc-11ea-83ec-578bbedbe7b6?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-5y%2Fy,to:now))&_a=(filters:!(),linked:!f,query:(language:kuery,query:''),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(customLabel:'(avg.%201%EC%9D%B8%2F%EA%B1%B4)',field:frequency),schema:metric,type:avg)),params:(addLegend:!f,addTooltip:!t,metric:(colorSchema:'Green%20to%20Red',colorsRange:!((from:0,to:10000)),invertColors:!f,labels:(show:!t),metricColorMode:None,percentageMode:!f,style:(bgColor:!f,bgFill:%23000,fontSize:32,labelColor:!f,subText:''),useRanges:!f),type:metric),title:'%5BRFM%5D%20%EA%B3%A0%EA%B0%9D%EA%B5%B0%20-%20Frequency',type:metric))" height="100%" width="100%" frameborder="0" style="border-radius: .8rem;"></iframe>
                    </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body p-0 m-0" style="height: 300px;">
                        <iframe src="http://52.78.186.240:8011/s/packus/app/kibana#/visualize/edit/5ca4ba30-d3cc-11ea-83ec-578bbedbe7b6?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-5y%2Fy,to:now))&_a=(filters:!(),linked:!f,query:(language:kuery,query:''),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(customLabel:'(avg.%201%EC%9D%B8%2F%EB%A7%8C%EC%9B%90)',field:monetary2),schema:metric,type:avg)),params:(addLegend:!f,addTooltip:!t,metric:(colorSchema:'Green%20to%20Red',colorsRange:!((from:0,to:10000)),invertColors:!f,labels:(show:!t),metricColorMode:None,percentageMode:!f,style:(bgColor:!f,bgFill:%23000,fontSize:32,labelColor:!f,subText:''),useRanges:!f),type:metric),title:'%5BRFM%5D%20%EA%B3%A0%EA%B0%9D%EA%B5%B0%20-%20Monetary',type:metric))" height="100%" width="100%" frameborder="0" style="border-radius: .8rem;"></iframe>
                    </div>
                </div>
              </div>
          </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <iframe frameborder="0" src="http://52.78.186.240:8011/s/packus/app/kibana#/dashboard/5d9994a0-d2d3-11ea-83ec-578bbedbe7b6?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-5y%2Fy,to:now))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!t,title:'%5B%ED%8C%A8%EC%BB%A4%EC%8A%A4%20RFM%20%EB%AA%A8%EB%8D%B8%5D',viewMode:view)" height="850" width="100%"></iframe>
            </div>
          </div>
        </div>
      </div>
{% endblock %}